.list-header::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0.5px;
  width: 100%;
  background-color: rgb(255 255 255 / 0.2);
}

.date-picker button {
  width: 100%;
}
