.embla {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  // height: 86px; /* 86px */
  aspect-ratio: 172/60;
  max-width: 30rem;
  margin-left: auto;
  margin-right: auto;

  &__ios-picker {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    min-width: 50%;
    justify-content: center;
    line-height: 1;
    font-size: 1.8rem;

    &:before {
      position: absolute;
      inset: 0;
      right: -0.5px;
      content: "";
      display: block;
      z-index: 1;
      pointer-events: none;
      background: linear-gradient(180deg, #1c1c1c 0%, rgba(0, 0, 0, 0) 50%, #1c1c1c 100%);
    }
  }

  &__ios-picker__scene {
    min-width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    touch-action: pan-x;
  }

  &__ios-picker__viewport {
    height: 30px;
    width: 100%;
    perspective: 1000px;
    user-select: none;
    touch-action: none;
    -webkit-tap-highlight-color: transparent;

    &--perspective-left {
      perspective-origin: calc(50% + 130px) 50%;
      transform: translateX(27px);
    }

    &--perspective-right {
      perspective-origin: calc(50% - 130px) 50%;
      transform: translateX(-27px);
    }
  }

  &__ios-picker__container {
    height: 100%;
    width: 100%;
    transform-style: preserve-3d;
    will-change: transform;
  }

  &__ios-picker__slide {
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-weight: 1000;
    line-height: 22px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    backface-visibility: hidden;
    opacity: 0;
  }

  &__ios-picker__label {
    font-weight: 700;
    transform: translateX(-55px);
    pointer-events: none;
  }
}
