@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --top-header-safe-padding: 60px;
    --bottom-nav-safe-padding: 88px;

    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 12px;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 0, 0%, 14%; /* #242424 */
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 0, 0%, 0%;
    --popover-foreground: 210 40% 98%;
    --primary: 57 100% 50%; /* #FFF200 */
    --primary-foreground: 0, 0%, 0%; /* #000000 */
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 0, 0%, 0%; /* #000000 */
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 2 100% 64%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  /* 主要漸層邊框色 */
  .primary-gradient-border-rounded {
    position: relative;
  }
  .primary-gradient-border-rounded::before {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 12px;
    padding: 1px;
    background: linear-gradient(180deg, rgba(255, 242, 0, 1), rgba(255, 242, 0, 0.3));
    -webkit-mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
  }

  /* Tab 漸層邊框色 */
  .primary-gradient-border-tab {
    position: relative;
  }
  .primary-gradient-border-tab::before {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 12px 12px 0px 0px;
    padding: 1px 1px 0 1px;
    background: linear-gradient(180deg, rgba(255, 242, 0, 1), rgba(255, 242, 0, 0.3));
    -webkit-mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
  }

  /* input 錯誤 */
  .input-error {
    @apply border-app-red text-app-red focus-within:ring-app-red !important;
  }
}

/* Custom srcollbar */
::-webkit-scrollbar {
  width: 8px; /* 設定滾動條的寬度 */
  height: 8px; /* 設定水平滾動條的高度 */
}

::-webkit-scrollbar-track {
  background: #2c2c2c; /*滾動條軌道的背景顏色 */
  border-radius: 10px; /* 軌道的圓角設定 */
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2); /* 滾動條滑塊的顏色 */
  border-radius: 10px; /* 滑塊的圓角 */
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.4); /* 當滑鼠懸停在滑塊上時，顏色變得稍微深一點 */
}

::-webkit-scrollbar-corner {
  background: transparent; /* 處理滾動條交界處的背景，設置為透明 */
}

/* 針對 Firefox 瀏覽器的設定 */
* {
  scrollbar-width: thin; /* 設定滾動條為較細的樣式 */
  scrollbar-color: rgba(255, 255, 255, 0.2) #2c2c2c; /* 定滑塊的顏色為半透明白色，軌道為深灰色 */
}
