.standby-bg {
  background: linear-gradient(
    180deg,
    #ff72b1 1.31%,
    #ff90c2 16.46%,
    #ffb3d6 26.84%,
    #ff7bba 33.55%,
    #ff63ae 99.99%
  );
}

.progress-bar {
  border-radius: 12px;
  background: url('/images/smash-egg/progress-bar.png'),
    linear-gradient(180deg, #ff90c2 0%, #eb0070 100%);
  transition: all 0.5s ease-in-out;
}

.card-bg {
  width: 100%;
  background: url('/images/smash-egg/bg-mask.png'),
    linear-gradient(180deg, #fdcb04 0%, #ff4d00 100%);
  background-size: cover;
  background-repeat: no-repeat;
}

.marquee-container {
  width: 100%;
  overflow: hidden;
}

.marquee {
  display: inline-block;
  white-space: nowrap;
  padding-left: 100%;
  animation: marquee 300s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

// 當有多個元素時，確保它們並排顯示
.marquee > * {
  display: inline-block;
  padding-right: 50px; // 調整元素之間的間距
}

.lottie-container {
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
}

.hidden {
  opacity: 0;
}
